<%= link_to "priority", tasks_path(sort_by: 'priority'),class:'btn btn-info'%>
<%= link_to "enddate", tasks_path(sort_by: "enddate"),class:'btn btn-success'%>

<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
  <%= form_tag(tasks_path, method: :get, class:"form-inline my-2 my-lg-0") do %>
    <%= text_field_tag :term, params[:term], class:"form-control mr-sm-2", type:"search", placeholder:"Search" %>
    <%= submit_tag 'Search', name: nil, class:"btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
  <%= form_tag(tasks_path, method: :get, class:"form-inline my-2 my-lg-0") do %>
    <%= text_field_tag :term1, params[:term1], class:"form-control mr-sm-2", type:"search", placeholder:"Search" %>
    <%= submit_tag 'Search', name: nil, class:"btn btn-outline-success my-2 my-sm-0" %>
  <% end %>

<br>

<% if current_user %>
<%= link_to 'New Task', new_task_path, class:'btn btn-info'%>
<% end %>
<center>
<table class="table" style="width:60rem;">
  <thead style="background-color:#25275d;color:#fff;">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Content</th>
      <th scope="col">Status</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Priority</th>
      <th scope="col">User</th>
      <th scope="col">Labels</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <% if task.user_id == current_user.id %>
    <tr>
      <th scope="row"><%= task.id %></th>
      <td><%= task.name %></td>
      <td><%= task.content %></td>
      <td><%= task.status %></td>
      <td><%= task.startdate %></td>
      <td><%= task.enddate %></td>
      <td><%= task.priority %></td>
      <td><%= task.user.name %></td>
      <td><%= task.labels.size %></td>
      <td>
        <%= link_to 'Show', task, class:"btn btn-success" %>
        <%= link_to 'Edit', edit_task_path(task), class:"btn btn-primary" %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      </td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
</center>


