<!DOCTYPE html>
<html>
  <head>
    <title>Everyleaftask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  </head>
  

  <body>
  

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#25275d;">
  <a class="navbar-brand" href="#" style="color:#fff;">EveryLeaf</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%= link_to 'Home', tasks_path, class:'btn btn-info'%>
      </li>
      
      
      <% if current_user && current_user.usertype == "admin" %>
        <li class="nav-item active">
        <%= link_to 'Administration screen', admin_users_path, class: 'btn btn-info' %>
      </li>
<% end %>

<% if current_user %>
    <li class="nav-item">
    <%= link_to 'Normal Users', users_path, class: "btn btn-primary " %>
    </li>
    <li class="nav-item">
    <%= link_to 'Labels', labels_path, class: "btn btn-primary " %>
    </li>
    <% end %>
    </ul>
    
  </div>
</nav>
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>

<% end %>
    <%= yield %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
  <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#25275d;;
  color: white;
  text-align: center;
}
</style>
<div class="footer">
  <p>DIC Student from Rwanda Designed by @angebenie</p>
</div>
</html>
